* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250,250,250);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    font-family: "Ubuntu", "Calibri", "Sitka", sans-serif;
}

p, input {
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 3px;
}

input[type=button] {
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.page-wrapper > h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}
.page-wrapper > h2 {
    color: #333;
    font-size: 15px;
    margin-bottom: 10px;
}
.page-wrapper > footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.page-wrapper > footer > p {
    font-size: 0.8rem;
    color: #666;
}

.fx-notice {
    font-size: 0.7rem;
    color: #A00;
    display: none;
}

.drag-and-drop-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    background-color: #0003;
    border-radius: 10px;
    border: dashed 4px gray;
    margin-bottom: 20px;
    margin-top: 20px;
}
.drag-and-drop-area-highlight {
    background-color: #F006;
}

.wav-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.wav-settings > label {
    margin-right: 5px;
}
.wav-settings > select {
    margin-right: 10px;
}

.file-table {
    min-width: 400px;
    max-width: 700px;
}

.file-table > tbody > tr > td {
    padding-bottom: 2px;
    padding-right: 5px;
}
/* file name */
.file-table > tbody > tr :nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    max-width: 400px;
}
/* remove button */
.file-table > tbody > tr :nth-child(5) {
    position: absolute;
}
.file-table > tbody > tr :nth-child(5)::before {
    content: "\2716";
    font-size: 1rem;
}
/* play/pause button */
.file-table > tbody > tr :nth-child(6) {
    position: absolute;
    margin-top: -7px;
    margin-left: 18px;
    font-size: 1.5rem;
    cursor: default;
    user-select: none;
}

.custom-file-input::before {
    content: 'open';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 2px;
    padding: 1px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: default;
    text-shadow: 1px 1px #fff;
    margin-top: 5px;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.overlay-wait {
    visibility: collapse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#0008;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    text-align: center;
}
.overlay-wait::before {
    font-weight: bold;
    color: rgb(250,250,250);
    font-size: 25px;
    content: "Processing your files. Please wait...";
}
